/* ============================== HIDES SECOND NAVIGATION BAR FOR MOBILE ==================================== */ 

@media only all and (max-width: 768px) {
  
  .opt__hide-nav {
    display: none;  
  }
 
}

/* =============== END ======================= */

/*=============== Only displays on scroll down =====================*/

/* LI*/
.mtpb2c-poi-navigation .opt-mich__sticky-list-item {
    position: relative;
    float: right;
    padding-right: 57px; /*59px*/
    display: none;
}

/* A LINK*/
.opt-mich__sticky-list-item a {
  font-size : 14px;
  color: #cf2128!important;
}

.opt-mich__sticky-list-item a:hover: {
  border-bottom: 4px solid #cf2128!important;
}

.opt-new__footer-link {
  display: block;  
  padding: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  width: 100%;
  color: #fff;
  text-decoration: none!important;  
}

.opt-mich__france-color {
  background-color: #BD0830!important;
}

 /* Not needed now but could be useful later */
.opt-mich__active-link {    
    border-bottom: 3px solid #BD2333;
    color: #BD2333!important;
}

.opt-mich__info-wrapper {
    border-top: 10px solid #E3E3E3;
    padding-top: 35px;
    margin-top: 30px;
}

@media (min-width: 768px) {  

  .node-type-poi .panels-michelin-2colsidebar .panels-content-top .pane-node-field-image
   .bg-banner-image {
     background-image: url(https://img.static-bookatable.com/batweb/bat/hero/hero.jpg?mode=resize&quality=70)!important;
     position: relative;
    left: 0;
    top: 0;    
    height: 82px!important;
  }
}

@media only all and (min-width: 948px) {

   #mtpb2c-poi-navigation .opt-mich__sticky-list-item  {
        display: block;
    }

    .opt-new__footer-link {
        display: none;  
    }
}

/* ====================== end =================== */

/* ================== HOME PAGE SEARCH PANEL UPDATES ======================= */

.ft-b2c-poi-search-form .form-item.form-type-checkbox.form-item-gm-selection { 
  display: none;
}

.ft-b2c-poi-search-form.ft-b2c-poi-search-form-home.form-wrapper {
  background-color: transparent;
}

.panel-pane.pane-block.pane-ft-b2c-poi-search-ft-b2c-poi-search-form {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;  
}


/* ================ END HP search panel updates ============ */

/* ================ 7 *Upper restaurant page updates* styles ===================== */

.opt-upper__top-img {
    filter: blur(0)!important;
    -moz-filter: blur(0)!important;
    -o-filter: blur(0)!important;
    -ms-filter: blur(0)!important
}

.opt-upper__guide-wrapper {
    margin-top: 0!important;
    padding: 0!important;
    height: inherit!important;
    display: block!important;
    color: #BD2333!important
}

.opt-upper__guide {
    padding-top: 10px!important;
    border-bottom: 1px solid #e3e3e3!important;
    padding-bottom: 15px!important
}

.opt-upper__circle-icons:before {
    font-size: 12px!important
}

.opt-upper__address-wrapper {
    border-bottom: none!important;
    padding-bottom: 10px!important;
    padding-top: 14px!important
}

.opt-upper__address-text {
    color: #3b3b3a!important;
    font-weight: 700
}

.opt-upper__cuisines-info {
    padding-top: 0!important;
    margin-bottom: 15px
}

.opt-upper__price-info {
    position: relative;
    color: #3b3b3a!important;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #9c9d9d
}

.opt-upper__booking-widget-wrapper {
    margin-top: 20px!important
}

.opt-upper__find-table-button {
    background-color: #bd2333!important;
    color: #fff!important;
    width: 99.5%!important;
    border: 0!important;
    height: 60px!important;
    top: -14px;
    position: relative;
    right: 0;
    left: 0
}

.opt-uppper__date-select:hover {
    cursor: pointer
}

.opt-upper__location-text {
    top: -4px;
    position: relative;
    margin-left: 7px;
    font-weight: 400!important;
    color: #BD0830
}

.opt-upper__intro-area {
    padding-bottom: 5px!important
}

.opt-upper__location-wrapper {
    display: inline-block;
    margin-left: 15px
}

.opt-upper__main-section {
    border-top: 1px solid #E3E3E3!important
}

@media only all and (min-width:346px) {
    .opt-upper__location-wrapper {
        margin-left: 0
    }
}

@media only all and (min-width:429px) {
    .opt-upper__location-wrapper {
        margin-left: 15px
    }
}

@media only all and (min-width:767px) {
    .opt-upper__top-img {
        display: none!important
    }
    .opt-upper__address-wrapper {
        padding-top: 0!important
    }
    .opt-upper__stars-wrapper {
        float: right;
        position: relative;
        top: 18px
    }
}

.opt-upper-var3__title {
    font-size: 18px!important;
    line-height: 25px!important;
    border-bottom: 0!important
}

.opt-upper-var3__guide-wrapper {
    float: none;
    margin: 0!important;
    padding: 0!important;
    height: inherit!important
}

.opt-upper-var3__guide {
    padding-top: 0!important;
    border-bottom: 0!important;
    padding-bottom: 0!important
}

.opt-upper-var3__mob-location-wrapper {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px
}

.opt-upper-var3__reg-location-wrapper {
    display: none
}

.opt-upper-var3__mob-location-wrapper:hover,
.opt-upper-var3__reg-location-wrapper:hover {
    text-decoration: none
}

.opt-upper-var3__mob-location-wrapper:focus,
.opt-upper-var3__reg-location-wrapper:focus {
    text-decoration: none!important
}

.opt-upper-var3__mob-location-text {
    top: -4px;
    position: relative;
    font-weight: 400!important;
    color: #BD0830;
    margin-right: 7px
}

.opt-upper-var3__price-info {
    position: relative;
    color: #3b3b3a!important;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #9c9d9d;
    height: 21px
}

.opt-upper-var3__cuisines-info {
    padding-top: 0!important;
    margin-top: 15px;
    margin-bottom: 25px
}

@media only all and (min-width:768px) {
    .opt-upper-var3__mob-location-wrapper {
        display: none
    }
    .opt-upper-var3__reg-location-wrapper {
        display: inline-block;
        border-right: 1px solid #9c9d9d;
        margin-right: 10px;
        padding-right: 16px;
        top: 5px;
        position: relative;
        height: 21px
    }
    .opt-upper-var3__reg-location-text {
        position: relative;
        font-weight: 400!important;
        color: #BD0830;
        margin-right: 5px;
        top: -4px;
        padding-right: 5px
    }
    .opt-upper-var3__title {
        font-size: 22px!important
    }
    .opt-upper-var3__stars-wrapper {
        float: right;
        position: relative;
        top: 10px
    }
}

.opt-upper-var2__review {
    padding-left: 5px;
    color: #3b3b3a;
    font-size: 12px;
    position: relative;
    font-weight: 700
}

.opt-upper-var2__rating {
    font-size: 14px;
    font-weight: 700
}

.op-upper-var2__title {
    font-size: 18px!important;
    line-height: 25px!important;
    border-bottom: 1px solid #e3e3e3!important
}

.opt-upper-var2__guide-wrapper {
    float: none;
    margin: 0!important;
    padding: 0!important;
    height: inherit!important
}

.opt-upper-var2__guide {
    padding-top: 15px!important;
    border-bottom: 0!important;
    padding-bottom: 0!important
}

.opt-upper-var2__address-wrapper {
    border-bottom: none!important;
    padding-bottom: 10px!important;
    padding-top: 14px!important;
    padding-right: 0!important
}

.opt-upper-var2__address-text {
    color: #3b3b3a!important;
    font-weight: 700
}

.opt-upper-var2__location-wrapper {
    display: block;
    position: relative;
    top: -11px
}

.opt-upper-var2__location-wrapper:hover {
    text-decoration: none
}

.opt-upper-var2__one-icon,
.opt-upper-var2__three-stars {
    display: inline;
    margin-left: 0
}

@media only all and (min-width:768px) {
    .op-upper-var2__title {
        font-size: 22px!important;
        border-bottom: 0!important
    }
    .opt-upper-var2__guide {
        padding-top: 0!important
    }
    .opt-upper-var2__review {
        font-size: 14px;
        top: -5px;
        left: 9px
    }
    .opt-upper-var2__review:hover {
        text-decoration: none
    }
    .opt-upper-var2__rating {
        font-size: 20px
    }
    .opt-upper-var2__review-count {
        position: relative;
        display: block;
        top: -5px;
        left: -11px
    }
    .opt-upper-var2__guide-wrapper {
        margin-top: 30px!important;
        float: right;
        position: relative;
        right: 10px
    }
    .opt-upper-var2__three-stars {
        display: block;
        margin-left: 66px;
        padding-top: 4px
    }
    .opt-upper-var2__two-stars {
        display: block;
        margin-left: 83px;
        padding-top: 4px
    }
    .opt-upper-var2__one-icon {
        display: block;
        margin-left: 99px;
        padding-top: 4px
    }
}

@media only all and (min-width:1024px) {
    .opt-upper-var2__one-icon,
    .opt-upper-var2__three-stars,
    .opt-upper-var2__two-stars {
        display: inline;
        margin-left: 0
    }
}

/* ========= END 7 ========== */

/* ===================================== 8 Display spinner instead of 'loading' in the widget ====================== */

.opt__spinner-wrapper {
  display: block;
  text-align: center;
  position: relative;
  /*top: -110px;*/
}

.opt__spinner {
  animation: rotate 0.8s infinite linear;
  border: 4px solid #3B3B3A;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  width: 28px;
  
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.opt__spinner-text {
  display: inline-block;
  top: -7px;
  position: relative;
  padding-left: 9px;
}

.opt__cancel-offer {
 border-top: solid 1px #e3e3e3;
 margin-top: 15px;
 padding-top: 15px;
}


/* =========================== END 8 ========================== */

/* ============================ 9 Widget Offer Buttons Update =========================== */

/* FLAT BUTTON - VARIATION START BOOK FORM */

.opt-flat-buttons__book-form {
  border: solid 1px #979797!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.opt-flat-buttons__book-form-h2 {
  border-bottom: solid 1px #e3e3e3;
  padding-top: 5!important;
  padding-bottom: 15px!important;
  /*font-size: 14px!important;*/
}

.opt-flat-buttons__time-slot-title {
  border-top: solid 1px #e3e3e3;
  padding-top: 15px;
  font-size: 14px!important;
}

.opt-flat-buttons__time-slot-title {
  border-top: solid 1px #e3e3e3;
  padding-top: 15px;
  font-size: 14px!important;
}

.opt-flat-buttons__book-form__text {
  text-align: left!important;
  padding-left: 10px!important;
  position: relative;
  top: -3px;  
}

.opt-flat-buttons__book-form__select:hover {
  cursor: pointer;
}

.opt-flat-buttons__book-form__select {
  height: 44px!important;
}

.opt-flat-buttons__book-form__select:after {
  display: none;
}

/* this media query is temporary*/
@media (min-width: 900px) { 

.opt-flat-buttons__book-form__select:after  {
  display: block;
  content: "";
  color: #3b3b3a;
  font-size: 16px;
  right: 17.5px;
  position: absolute;
  top: 15px!important;
  font-size: 15px;
  right: 10px; 
  }
}

.opt-flat-buttons__restaurant-disclaimer {
  padding: 0!important;
}

/* START TIME SLOTS*/

.opt-flat-buttons__time-slots-master {
  text-align: center;
}

.opt-flat-buttons__time-slot-ul {
  /*display: inline-block;
  margin-bottom: -8px!important;*/
}

/* LI */
.opt-flat-buttons__time-slot-li {
 /*width: 30%!important;*/ 
 line-height: 44px!important;
 margin-right: 6px!important;
 margin-bottom: 10px!important;
 width: 18%!important;
}

/*SPAN*/
.opt-flat-buttons__time-slot-span {
  /*background-color: #fff!important;
  padding-left: 15px;*/
}

/* STANDARD A LINK*/
.opt-flat-buttons__time-slot-a {
  color: #fff!important;  
  background-color: #610a7e;
  /*font-size: 16px!important;  */
  /*padding: 0;*/
  /*line-height: 1;*/
  /*font-weight: bold;*/
}

.opt-flat-buttons__time-slot-a:hover { 
  background-color: #803b97!important;  
}

/*.opt-flat-buttons__time-slot-a */
.opt-flat-buttons__has-offer {
  color: #fff!important;
  background-color: #bd2333;
  /*border-bottom-color: #bd2333;*/
}

.opt-flat-buttons__has-offer:hover {
  background-color: #da394a!important;
  /*border-bottom-color: #da394a;*/
}

.opt-flat-buttons__time-slot-key {
  text-align: left!important;
  margin-top: 0!important;
  /*top: -15px;*/
}

.opt-flat-buttons__time-slot-key:before {
  background-color: #bd2333!important;
}

.opt-flat-buttons__reserve-button-wrapper {
  margin-top: 10px;
}

.opt-flat-buttons__reserve-buttons {
  /* In case want to change later*/
  /*background-color: #EB5B4C;*/
  background-color: #bd2333;  
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fff!important;
  border: 1px solid;
  border-radius: 0;
  width: 25%;
  font-weight: 400;
  padding: 12px;
}

.opt-flat-buttons__reserve-buttons:hover {
  /*background-color: #f0857a;*/
  background-color: #da394a;
}

/* 3D BUTTONS - VARIATION START BOOK FORM */

/* START BOOK FORM */

.opt-3d-buttons__book-form {
  border: solid 1px #979797!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.opt-3d-buttons__book-form-h2 {
  border-bottom: solid 1px #e3e3e3;
  padding-top: 5!important;
  padding-bottom: 15px!important;
  /*font-size: 14px!important;*/
}

.opt-3d-buttons__time-slot-title {
  border-top: solid 1px #e3e3e3;
  padding-top: 15px;
  font-size: 14px!important;
}

.opt-3d-buttons__time-slot-title {
  border-top: solid 1px #e3e3e3;
  padding-top: 15px;
  font-size: 14px!important;
}

.opt-3d-buttons__book-form__text {
  text-align: left!important;
  padding-left: 10px!important;
  position: relative;
  top: -3px;  
}

.opt-3d-buttons__book-form__select:hover {
  cursor: pointer;
}

.opt-3d-buttons__book-form__select {
  height: 44px!important;
}

.opt-3d-buttons__book-form__select:after {
  display: none;
}

/* this media query is temporary*/
@media (min-width: 900px) { 

.opt-3d-buttons__book-form__select:after  {
  display: block;
  content: "";
  color: #3b3b3a;
  font-size: 16px;
  right: 17.5px;
  position: absolute;
  top: 15px!important;
  font-size: 15px;
  right: 10px; 
  }
}

.opt-3d-buttons__restaurant-disclaimer {
  padding: 0!important;
}

/* START TIME SLOTS*/

.opt-3d-buttons__time-slots-master {
  text-align: center;
}

.opt-3d-buttons__time-slot-ul {
  /*display: inline-block;
  margin-bottom: -8px!important;*/
}

/* LI */
.opt-3d-buttons__time-slot-li {
 width: 18%!important;
 line-height: 44px!important;
 margin-right: 6px!important;
 margin-bottom: 10px!important;
}

/*SPAN*/
.opt-3d-buttons__time-slot-span {
  /*background-color: #fff!important;
  padding-left: 15px;*/
}

/* STANDARD A LINK*/
.opt-3d-buttons__time-slot-a {
  color: #fff!important;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  background-color: #610a7e;
  /*font-size: 16px!important;  */
  /*padding: 0;*/
  /*line-height: 1;*/
  /*font-weight: bold;*/
}

.opt-3d-buttons__time-slot-a:hover { 
  background-color: #803b97!important;  
}

/*.opt-3d-buttons__time-slot-a */
.opt-3d-buttons__has-offer {
  color: #fff!important;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  background-color: #bd2333;
  /*border-bottom-color: #bd2333;*/
}

.opt-3d-buttons__has-offer:hover {
  background-color: #da394a!important;
  /*border-bottom-color: #da394a;*/
}

.opt-3d-buttons__time-slot-key {
  text-align: left!important;
  margin-top: 0!important;
  /*top: -15px;*/
}

.opt-3d-buttons__time-slot-key:before {
  background-color: #bd2333!important;
}

.opt-3d-buttons__reserve-button-wrapper {
  margin-top: 10px;
}

.opt-3d-buttons__reserve-buttons {
  /* In case want to change later*/
  /*background-color: #EB5B4C;*/
  background-color: #bd2333;  
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fff!important;
  border: 1px solid;
  border-radius: 0;
  width: 25%;
  font-weight: 400;
  padding: 12px;
}

.opt-3d-buttons__reserve-buttons:hover {
  /*background-color: #f0857a;*/
  background-color: #da394a;
}

/* *************************/
/* START DEFAULT 3D TIME SLOTS*/
/****************************/

.opt-default-3d__time-slots-master {
  text-align: center;
}

.opt-default-3d__time-slot-ul {
  /*display: inline-block;
  margin-bottom: -8px!important;*/
}

/* LI */A
.opt-default-3d__time-slot-li {
 width: 18%!important;
 line-height: 44px!important;
 margin-right: 6px!important;
 margin-bottom: 10px!important;
}

/* WIDGET TIME SLOT BUTTONS */

.booking-search__results-time-wrapper {
  color: #fff!important;
  background-color: #EB5B4C !important;
  
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3) !important;
}

.booking-search__results-time-wrapper:hover { 
  background-color: #f0857a!important;
}

/* ============================= END 9 ================= */